
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.shop-field{
    display: flex;
    justify-content: center;
}

.cartBlock{
    display: none;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.cartBlock button{
    height: 2.5rem;
}

.main{
    display: flex;
    justify-content: center;
}

h1{
    margin-right: 100px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}

.none{
    display: none;
}

.ol{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.li{
    display: flex;
    justify-content: space-between;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
}

#preloader.hide-preloader {
    animation: hidePreloader 1s;
}

#preloader.preloader-hidden {
    display: none;
}

@keyframes hidePreloader {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.message-box {
    display: none;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: #64edc8;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.message-box.success {
    background-color: #ff0084;
}

.message-box.error {
    background-color: #f51300;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    z-index: 1;
}

@media only screen and (max-width: 600px) {
    #scrollToTopBtn {
        right: 10px;
        bottom: 10px;
        padding: 8px;
        font-size: 14px;
    }
}

.search-bar {
    margin-bottom: 20px;
}

.filter-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.filter-bar select {
    margin-left: 10px;
}


